/* ---------- Fonts ---------- */
@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* ---------- Opciones Generales ---------- */
* {
  margin: 0;
  padding: 0;
  font-family: "Cabin", sans-serif;
  color:#000;
  scroll-behavior: smooth;
  
}

body {
  /* background-color: gray; */
  background-color: #708090;
  width: 100%;
  height: auto;
  margin: auto;
}



/* ---------- Header / Nav ---------- */
header {
  height: auto;
  background-color: #28384C;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

header img {
  margin-left: 25px;
}

ul {
  display: flex;
  width: 600px;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  margin-right: 150px;
  font-size: large;
  font-family: "Oswald", sans-serif !important;
}

header nav ul li {
  display: inline-block;
  justify-content: center;
  align-items: center;
}

header nav ul li a {
  text-decoration: none;
  color: rgb(230, 230, 230);
  position: relative;
  letter-spacing: 2px;
}

header nav ul li a:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background: rgb(255, 255, 255);
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

header nav ul li a:hover::after {
  /*animacion de derecha a izquierda*/
  transform-origin: left;
  transform: scaleX(1);
}

/* ----------- Comienzo del body ---------- */
.estructuraPrincipal {
  margin-top: 10px;
  display: grid;
  height: auto;
  grid-template-columns: 150px repeat(3,1fr) 150px;
  grid-template-rows: 590px 225px 225px;
  column-gap: 70px;
  grid-template-areas:
    "columnaVacia1 columnaUno columnaDos columnaTres columnaVacia2"
    "SegundaSeccion SegundaSeccion SegundaSeccion SegundaSeccion SegundaSeccion"
    "SegundaSeccion SegundaSeccion SegundaSeccion SegundaSeccion SegundaSeccion"
    "footer footer footer footer footer";
}

main h1 {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3), 2px 2px 4px rgba(0, 0, 0, 0.3);
  font-family: 'Poppins', sans-serif !important;
  margin-top: 5px;
  font-size: 48px;
  font-weight: bold;
  color: #1C1C1C; /* Color del texto */
  text-align: center;
  padding: 20px;
}

/* ---------- Generalizador de columnas ----------- */
.estructura__columnaUno,
.estructura__columnaDos,
.estructura__columnaTres
{
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
}

.estructuraPrincipal .marco {
  width: 350px;
  height: 350px;
  overflow: hidden;
  border: 2px solid black;
  padding: 3px;
}

.estructuraPrincipal
{
  background-position: center;
  transition: all 0.606s;
}

.estructura__columnaUno img,
.estructura__columnaDos img,
.estructura__columnaTres img {
  transition: all 0.606s;
}

.estructura__columnaUno img:hover,
.estructura__columnaDos img:hover,
.estructura__columnaTres img:hover {
  transform: scale(1.303);
}


h2 
{
  font-family: Roboto;
}

/* ----------- Modificacion de columnas ----------- */
.estructura__columnaUno {
  grid-area: columnaUno;
}

.estructura__columnaDos {
  grid-area: columnaDos;
}

.estructura__columnaTres {
  grid-area: columnaTres;
}

.columnaVacia1 {
  grid-area: columnaVacia1;
  margin-left: -70px;
  margin-right: -70px;
}

.columnaVacia2
{
  grid-area: columnaVacia2;
}

/* ----------- Comienzo de .segundaSeccion* ----------- */
.estructuraSecundaria {
  margin-top: 10px;
  grid-area: SegundaSeccion;
  background-color: currentColor;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-evenly;
}

.estructuraSecundaria__pensador {
  width: 100%;
  height: 100%;
  background-image: url('https://global-uploads.webflow.com/5e1145b6c5e98c8cf5f3293f/5e690dcc1d3cc27d937decc8_topographic-background.png');
  background-position: center;
  position: sticky;
  background-color: #000;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.estructuraSecundaria__pensador .marco 
{
  width: 270px;
  height: 270px;
  border: 2px solid #2D2D2D;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;

}

.estructuraSecundaria__pensador .marco img
{
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.pensador__frase {
  font-family: "Oswald", sans-serif !important;
  font-size: 20px;
  color: #EFFFF7;
}

/* --------- Comienzo de formulario JS ---------- */

.terceraSeccion
{
  width: 100%;
  height: 710px;
  background: #00948F;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: normal;
}

.formularioJs
{
  width: 240px;
  height: auto;
  border-top: 7px solid #28384C;
  background: #EDEDED;
  text-align: center;
  margin: 40px 0px 40px 175px;
  padding: 60px 70px 55px 60px;
  box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.56);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  
}

.formularioJs .formBtn
{
  margin-top: 15px;
  background: transparent;
  padding: 5px 0 5px 0;
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

.formularioJs .formBtn label 
{
  margin-bottom: 5px;
}

.formularioJs .formBtn input
{
  width: 100%;
  padding: 5px 10px;
  border: 1px solid #708090;
} 

.formularioJs textarea
{
  width: 100%;
  height: 70px;
  padding: 5px 10px;
  resize: none;
  border: 1px solid #708090;

}

.formularioJs button
{
  color: #EFFFF7;
  margin-top: 30px;
  border-radius: 75px;
  width: auto;
  font-size: large;
  padding: 10px 60px;
  margin-left: 25px;
  background-color: #28384C;
  transition: all 0.606s;
  cursor: pointer;
}

.formularioJs button:hover
{
  background: #EDEDED;
  border: 2px solid #28384C;
  color: #28384C;
}


/* --------- Bloques de error --------- */

#errorBlock,
#successBlock {
  transition: opacity 2.6s;
  opacity: 1;
}


#errorBlock {
  background-color: #ff4c43;
  width: 100%;
  padding: 15px 10px;
  margin-top: 35px;
  border-radius: 5px;
  display: none;
}

#successBlock
{
  background: #10B981;
  width: 100%;
  padding: 15px 10px;
  margin-top: 35px;
  border-radius: 5px;
  display: none;
}

/* --------- Comienzo de Footer --------- */

footer {
  height: auto;
  grid-area: footer;
  background-color: #28384C !important;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-around;
}

.footer__fila {
  width: 100%;
  height: 50%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: #28384C;
}

.footer__fila p {
  margin: 10px;
}

.footer__fila p a {
  text-decoration: none;
  color: white;
}

.footer__icons {
  width: 100%;
  height: 50%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background: #28384C;
}

.footer__icons i {
  font-size: 30px !important;
  margin: 10px;
  border-radius: 100px;
  border: 3px solid black;
  padding: 5px;
  color: black;
}

.footer__icons i:hover {
  color: white;
  border: 3px white solid;
}
